$color-link: #fff;
$color-text: black;

//Aspectos Generales
body {
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px; 
}

h1 {
  text-align: center;
  margin: 20px 0; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: inline-block;

  &:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-text; 
    bottom: -5px;
    left: 0;
  }
}

.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .left-content,.right-content {
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 5px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 5px;
    }
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;

    &:hover {
        background-color: #c7c7c7;
        transition: background-color 0.2s, color 0.2s;
    }
}

#btopb{
  background-color: #22ca68; 
  color: black;
  font-size: 18px;
  padding: 15px 30px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  &:hover{
    background-color: #1e9751; 
    transition: background-color 0.3s;
  }
}

#Social-Links{
  display: flex;
  align-items: center; 
  gap: 20px; 

  a {
      display: flex;
      align-items: center; 
      text-decoration: none; 
      color: rgb(0, 102, 255); 
      transition: transform 0.3s;

      &:hover {
          transform: scale(1.2); 
      }

      img {
          width: 20px; 
      }

      i {
          font-size: 20px; 
      }
  }
}

//Aspectos de COMPRAR: 
.header-container {
    position: relative;
    height: 70vh;
    overflow: hidden;

    .header-bg {
        background-image: url('../img/minecraft-4.png');
        background-size: cover;
        background-position: center;
        filter: brightness(0.7); 
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }    

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        padding: 20px;
    }
}

#imagenes-g{
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
    
    .gallery-item {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            transition: filter 0.3s;
        }
    }
    
    .gallery-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(66, 97, 59, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .gallery-item:hover img {
        filter: brightness(0.7);
    }
    
    .gallery-item:hover .overlay {
        opacity: 1;
    }
    
    .overlay p {
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 10px;
    }
}

.select-box-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .select-box {
        background-color: rgb(184, 184, 184);
        border: 2px solid #363a37;
        padding: 20px;
        width: 200px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Ubuntu', sans-serif;
    }
    .select-box label, .select-box select {
        display: block;
        margin-bottom: 5px;
    }    
    .select-box select {
        width: 100%;
        padding: 5px;
        border: 1px solid #3a3a3a;
        border-radius: 3px;
        background-color: rgb(180, 180, 180);
        color: rgb(0, 0, 0);
        font-family: 'Ubuntu', sans-serif;
    }    
    .select-box select option {
        background-color: rgb(192, 192, 192);
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }    
}

.zoom-in-animation {
    animation: zoomIn 1s ease forwards;
}

.video-container {
    position: relative; 
    display: inline-block; 
    padding-bottom: 20px;

    .youtube-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        opacity: 0.8;
    }

    &:hover{
        animation: Agrandar 0.3s ease-in-out forwards;
    }
}

#elitra{
    padding-left: 25%;
    &:hover{
        animation: Agrandar 0.4s ease-in-out forwards;
        padding-left: 22%;
        transition: 0.2s;
    }
}

.buy-button {
    background-color: #22ca68;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
        background-color: #1e9751;
        transform: scale(1.05);
    }
}

//Aspectos de ABOUT:
#no-subtext{
    text-shadow: -0.063rem -0.063rem 0 #00000048, 0.063rem -0.063rem 0 #00000048, -0.063rem 0.063rem 0 #00000048, 0.063rem 0.063rem 0 #000;

    &:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: transparent; 
        bottom: -5px;
        left: 0;
      }
}

#Pegi10{
    width: 5%;
    height: 5%;
}

.Artículos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .row-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .column p {
        margin: 0;
    }

    .column a {
        background-color: #000000c2;
        padding: 5px 10px;
        margin: 5px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .column a:hover {
        background-color: #000000;
    }
}


//Aspectos de MOJANG:
.Galería {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .image-container {
        margin: 10px;
        width: 100px; 
        height: 100px; 
        opacity: 0.5; 
        transition: width 0.3s, height 0.3s, opacity 0.3s;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-container:hover {
        width: 150px; 
        height: 150px; 
        opacity: 1; 
    }
}

#Text-4 {
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#criper {
    padding: 1.3em;
    text-align: center;

    h1 {
        margin-bottom: 20px;
    }

    .content-wrapper {
        display: flex;
        align-items: flex-start;

        img {
            height: 10%
        }
    }

    #Creepers{
        &:hover{
            animation: Creeper 2s ease-in-out infinite;
            transition: 0.4s;
            transform: scale(1.2);
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        h2, p {
            margin: 0;
        }

        img {
            width: 100px;
            height: 100px;
            padding-left: 500px;
            padding-top: 20px;
        }
    }
    #mojanglogo{
        width: 400px;
        padding-top: 40px;
    }
}

//Aspectos de ISESION:
.Inicia-Sesion{
  margin: 0;
  padding: 0;
  background-image: url(../img/msalogin-bg-glob.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Ubuntu';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .Centered {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #1d1d1d;

    h1 {
      font-size: 1.5em;
    }

    p {
      margin-bottom: 10px;
    }
    
    a {
      &:hover {
        color: #226bca;
      }
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label, input {
      display: block;
      margin-bottom: 10px;
      outline: none;
      width: 50%;
      height: 70%;
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }

  .SubmitButton {
    background-color: #22ca68;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: #1e9751;
    }
  }
}

//Aspectos INDEX:
#cont-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem; 
  margin-top: 3em;

  
  img {
    max-width: 100%;
    transition: transform 0.2s;
    border: 2px solid #33a161;

    &:hover {
      transform: scale(1.05);
    }
  }
}

#puntaje {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu';
    color: white;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em 0; 

        p {
            padding: 1em;
            line-height: 1.5;
            font-size: 18px; 
            flex: 1; 
            background-color: rgba(0, 0, 0, 0.6); 
            transition: transform 0.3s, background-color 0.3s; 
        }

        img {
            width: 60%; 
            max-width: 300px; 
            flex: 1; 
            transition: transform 0.3s; 
        }

        &:hover {
            p {
                background-color: rgba(0, 0, 0, 0.8); 
                transform: scale(1.1); 
            }

            img {
                transform: scale(1.1) rotate(10deg); 
            }
        }
    }
}

.container {
    text-align: center;
    font-family: 'Ubuntu';

    .top-part {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .bottom-part {
        font-size: 1rem;
        opacity: 0.8;
        margin-bottom: 5px;
    }

    &:hover {
        animation: shimmer 1s infinite;
    }
}

header {
    background-size: cover;
    height: 60vh;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu';
    color: white;

    .header-logo {
        background-color: #1d1d1daf;
        margin-top: 0.3em;
        text-align: center;
    }
    img {
        animation: Entrar 1s ease-in-out;
    }
    #Text-2 {
        font-size: 0.6em;
    }
    #Text-1 {
        margin-top: 1em;
        text-align: center;
        text-shadow: -0.063rem -0.063rem 0 #00000048, 0.063rem -0.063rem 0 #00000048, -0.063rem 0.063rem 0 #00000048, 0.063rem 0.063rem 0 #000;
        font-size: 1em;
    }
}

/* Algunos Estilos */
a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
    color: $color-text;
}

ul, ol {
    list-style: none;
}

ul li a:hover, ol li a:hover {
    color: #33ff88;
    transition: color 0.15s;
}

img {
    max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a09f9f;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Ubuntu';
  border-bottom: 0.2rem solid #dadada;

  .logo-button {
      background: none;
      padding: 0;
      border: none;
      cursor: pointer;

      img {
          height: auto;
          &:hover {
              animation: Agrandar 0.3s ease-in-out forwards;
          }
      }
  }

  .nav-links-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      list-style: none;

      li {
          margin-right: 10px; 
      }
  }

  .Night-Button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  @media (max-width: 768px) {
      flex-direction: column; 
      align-items: center; 

      .nav-links-top {
          flex-direction: column; 
          align-items: center; 
          padding: 0; 
          
          li {
              margin-right: 0; 
              margin-bottom: 50px;
              margin-top: 20px; 
          }
      }
  }
}



.page-content {
    background-color: rgb(192, 192, 192);
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    header {
        height: 40vh;
        img {
            width: 80%;
            height: 60%;
        }
    }

    #cont-img {
      flex-direction: column;
      align-items: center;
      gap: 2em; 
    }

    #Social-Links{
      gap: 130em;
    }

    #Text-3{
        font-size: 1.2em;
        text-align: center;
        margin: 20px 0;
    }

    #criper {
        background-color: rgb(199, 199, 199);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    h1 {
        font-size: 50px;
        padding-bottom: 40px;
    }
    
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        font-family: 'Ubuntu';
    }
    
    #criper {
        background-color: rgb(199, 199, 199);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    h1 {
        font-size: 50px;
        padding-bottom: 40px;
    }
    
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        font-family: 'Ubuntu';
    }
    
    #Creepers {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        align-self: center; 
    }
    
    .right-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        img{
            margin-left: -500px;
        }
    }
    
    h2, h3, p {
        margin: 10px 0;
    }
    
    #mojanglogo {
        width: 200px;
        margin-top: 20px;
        align-self: center; 
    }
    
    .Galería{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//Diferencias DÍA y NOCHE:
.light-theme {
    background-color: #ffffff;
    color: #333333;
}

.day-theme {
    padding: 0.4em;
}

.dark-theme {
    background-color: #333333;
    color: #ffffff;

    nav {
        background-color: #1d1d1d;
        border-bottom: 0.15rem solid #1e9751;
        
        button:hover {
            background-color: #1e9751;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    .page-content {
        background-color:#1d1d1d;
    }

    a:link, a:visited {
        text-decoration: none;
        color: $color-link;
        &:hover {
            color: #22ca68;
        }
    }

    .Centered{
      background-color:#1d1d1d;
      border: 1px solid #1e9751;
    }

    .select-box {
        background-color: rgb(15, 15, 15);
        border: 1px solid #26e957;
        padding: 20px;
        width: 200px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu', sans-serif;
    }
    .select-box label, .select-box select {
        display: block;
        margin-bottom: 5px;
    }    
    .select-box select {
        width: 100%;
        padding: 5px;
        border: 1px solid #3a3a3a;
        border-radius: 3px;
        background-color: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu', sans-serif;
    }    
    .select-box select option {
        background-color: rgb(20, 20, 20);
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }  
}

@keyframes Agrandar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes Entrar {
    0% {
        transform: scale(0.1);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes shimmer {
    0% {
        color: inherit;
    }
    50% {
        color: rgba(160, 160, 160, 0.6);
    }
    100% {
        color: inherit;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Creeper{
    0%{
        filter: none;
    }
    50% {
        filter: invert(1); 
    }
}